/* ---元素样式--- */
h1, h2, h3, h4, h5 ,h6 {
    font-family: 'Oswald', sans-serif;
}

h1, h2, h3 {
    padding: 1.5em;
}

h2, h3, h6 {
    color: #25365d;
}
nav {
    background: #0288cf;
    color: #fff;
    border: 0;
}
button {
    border-radius: 50px;
    background-color: #25365d;
    color: #fff;
    border: 1px solid #25365d;
    padding: .3em 1.5em;
}
ul {
    padding: 0;
}

li {
    list-style-type: none;
}

p {
    font-family: 'Droid Serif', serif;
    font-size: 1em;
    line-height: 1.5;
}
/* ---基本样式--- */
.featureList,
.plans {
    background-color: #f7f9fb;
}

.gray-panel {
    background-color: #f7f9fb;
}

.row {
    margin: 1.5em 0;
}
/* ---区域样式--- */
/* ---导航栏区域--- */
.navbar-collapse {
    justify-content: flex-end;
}
nav a {
    color: #fff;
}
/* ---顶部区域--- */
.webHeader {
    width: 100%;
    height: 45em;
    background-size: cover;
    background: linear-gradient(to bottom, rgba(2,147,220,0) 0%, rgba(170,201,229,0) 76%, rgba(255,255,255,1) 100%), 
    url("../img/moutains.jpg") no-repeat center;
    padding-top: 4em;  
}

div.justDownload {
    position: relative;
    padding: 3em;
}

div.macbook-img {
    display: flex;
    align-items: center;
}

.justDownload h2 {
    padding-left: 0;
}

.justDownload img {
    padding: 3em 0 0 0;
}

.justDownload button {
    margin: 0 15px;
}

/* ---feature区域--- */
.featureList {
    position: relative;
    padding: 5em 1em;
}
.featureList img {
    width: 48px;
}
img#adjust-png-1  {
    padding-right: 11px;
}

img#adjust-png-2 {
    padding: 0 11px;
}
.check-feature {
    padding: 3em;
}
/* ---计划区域--- */
.monthPrice {
    font-size: 2em;
}

.plans {
    padding: 3em 0;
}

.plan{
    border: 10px solid #f7f9fb;
    padding: 1.86em  0;
    background-color: #fff;
}

.plan h5,
.plan h6,
.plans p {
    display: block;
}

.plan h6 {
    padding: 2em 0;
}

/* ---联系信息区域--- */
.contact-item {
    margin-top: 4em;
}
.contact-item h6 {
    font-size: 1.2em;
    width: 12em;
    display: inline-block;
}

.contact-item i {
    margin: 0 .5em;
}

/* ---底部区域--- */
/*
.download-template {
    width: 100%;
    height: 45em;
    background-size: cover;
    background: url("../img/moutains2.jpg") no-repeat center;
}
*/
.download-template h2,
.download-template p {
    max-width: 60%;
    margin: auto;
}

.download-template h2 {
    padding-top: 5em;
}

.download-template button {
    margin: 3em auto;
}