/* ---导航栏区域--- */
.navbar-collapse {
    justify-content: flex-end;
}

/* ---顶部--- */
.webHeader {
    width: 100%;
    height: 30em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("http://placehold.it/2000x1215");
}

div.justDownload {
    position: relative;
}

.macbook-img {

}

.featureList {
    position: relative;
}